#header-wrap{
	box-shadow: 0px 0px 5px lightgray;
	//up line
	.line{
		border: 2px solid $mainColor;
	}
	//logo
	.logo{
		width: 120px;
		height: 48px;
		float:left;
	}
	//browse
	.browse{
		width: 111px;
		height: 48px;
		float:left;
		border-left: 1px solid darken(#F4F4F4, 15%);
		border-right: 1px solid darken(#F4F4F4, 15%);
		padding: 14px 25px;
		position: relative;
		span{
			font-size: $mainTextSize;
			font-weight: bold;
			color: lighten($textColor, 35%);
		}
		//Browse menusu
		ul{
			width: 241px;
			min-height: 450px;
			position: absolute;
			top: 49px;
			left: 0;
			border: 1px solid red;
			li{
				a{
					display: block;
					padding: 6px 8px;
					font-size: $mainTextSize;
					text-decoration: none;
					color: $textColor;
					&:hover{
						background-color: #F4F4F4;
					}
					i{
						margin-top: 3px;
					}
				}

				ul{
					position: absolute;
					top: -1px;
					left: 240px;
				}
			}
		}
	}
	//search and button
	.search{

		position: relative;
		float: left;
		input[type="text"]{
			width: 100%;
			height: 48px;
			border: none;
			padding: 5px 52px;
			background-color: #F4F4F4;
		}
		button{
			width: 37px;
			height: 37px;
			border: none;
			background-color: $mainColor;
			border-radius: 2px;
			position: absolute;
			top: 5px;
			left: 8px;
			i{
				color: white;
			}
		}
	}
	.right-panel{
		float: right;
	}
	//My courses
	.myCourses{
		width: 110px;
		height: 48px;
		float: left;
		border-left: 1px solid darken(#F4F4F4, 15%);
		border-right: 1px solid darken(#F4F4F4, 15%);
		a{	
			display: block;
			padding: 14px 16px;
			font-size: $mainTextSize;
			font-weight: bold;
			color: lighten($textColor, 35%);
			text-decoration: none;

		}
	}
	.shopping{
		width: 60px;
		height: 48px;
		float: left;
		border-right: 1px solid darken(#F4F4F4, 15%);
		a{
			text-decoration: none;
			i{
				display: block;
				padding: 14px 16px;
				font-size: $mainTextSize + 9px;
				font-weight: bold;
				color: lighten($textColor, 35%);
			}
		}
	}
	//notification
	.bell{
		@extend .shopping;
	}
	.smile{
		width: 60px;
		height: 48px; 
		padding: 3px 8px;
		float: left;
		img{
			width: 100%;
			height: 100%;
		}
	}
}