@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&subset=latin-ext';
$mainColor: #994399;
$textColor: #353535;
$textColorBold: #3b3b3b; 
$mainTextSize: 13px;


body{
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6, li, ul{
	margin: 0;
}
ul, li{
	list-style: none;
	padding: 0;
}
.clearFix{
	clear: both;
}
